@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-white/10;
  }

  body {
    @apply bg-dark text-accent-gray font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }

  .glass-dark {
    @apply bg-dark-lighter/50 backdrop-blur-md border border-white/10;
  }
}
